numpy as np
torch
torch.nn as nn
torch.utils.data.DataLoader
torch.utils.data.random_split
torchvision.transforms
torchvision.datasets
matplotlib.pyplot as plt
torch.optim.SGD
torch.nn.Functional as F
